<%- include ('../templates/header', {
    title: 'Hashes',
    page: 'hashes',
    user
}) %> 
    
    <div class="container p-4">
        <h1 class="text-center">Hashes</h1>
        <a href="/hashes/add" class="btn btn-success my-4" style="width: 100%;">Crear Hash</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Salt</th>
                <th scope="col">Hash</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>

<%- include ('../templates/footer') %>